[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RKaggle"]
	path = RKaggle
	url = https://github.com/benyamindsmith/rkaggle
[submodule "ig.degree.betweenness"]
	path = ig.degree.betweenness
	url = https://github.com/benyamindsmith/ig.degree.betweenness
[submodule "igraphwalshdata"]
	path = igraphwalshdata
	url = https://github.com/benyamindsmith/igraphwalshdata
